/* <+====================CUSTOMER====================+> */
/* @font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-bold.otf');
} */
@font-face {
  font-family: 'Manrope-blod';
  src: url('../fonts/manrope-extrabold.otf');
}

@font-face {
  font-family: 'Manrope-medium';
  src: url('../fonts/manrope-medium.otf');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope-medium', sans-serif;
  max-width: 100%;
}

:root {
  --color-primary: #0A7C79;
  --color-info: #0EBAB5;
  --color-danger: #FF3C13;
  --color-light: #F7FFFF;
  --color-info-alt: #0EBAB5;
  --color-muted: #D2D2D6;
}

/* color */
.bg-primary {
  background-color: var(--color-primary)
}

.bg-info {
  background-color: var(--color-info);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-info-alt {
  background-color: var(--color-info-alt);
}

.bg-muted {
  background-color: var(--color-muted);
}

.text-primary {
  color: var(--color-primary)
}

.text-info {
  color: var(--color-info);
}

.text-danger {
  color: var(--color-danger);
}

.text-light {
  color: var(--color-light);
}

.text-info-alt {
  color: var(--color-info-alt);
}

.text-muted {
  color: var(--color-muted);
}

/* color */
/* text */
.display {
  font-size: 78px;
  line-height: 92px;
}

p {
  font-size: 12px;
  line-height: 32px;
}

h1 {
  font-size: 58px;
  line-height: 76px;
}

h2 {
  font-size: 42px;
  line-height: 60px;
}

h3 {
  font-size: 34px;
  line-height: 50px;
}

h4 {
  font-size: 24px;
  line-height: 38px;
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 28px;
}

/* text */
/* button */
.btn-sm {
  font-size: 14px;
  line-height: 24px;
  padding: 4px 8px;
  min-width: 96px;
  text-align: center;
  border: 0px;
}

.btn-md {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
  min-width: 128px;
  text-align: center;
  border: 0px;
}

.btn-lr {
  font-size: 20px;
  line-height: 24px;
  padding: 12px 16px;
  min-width: 128px;
  text-align: center;
  border: 0px;
}

/* button */
/* border */
.round-tl-br-20 {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* border */
/* flex-box */
.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

/* flex-box */

section {
  margin: 40px 80px;
}

.list-none-style{
  list-style: none;
}

/* <+====================CUSTOMER====================+> */
.header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
}

.header--info {
  background-color: var(--color-info);
}

.header__logo {
  height: 36px;
  margin: 5px 80px;
}

.header__right {
  display: flex;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header__action-item {
  margin: 0px 10px;
}

.header__user-ticket {
  position: relative;
  background: var(--color-danger);
  width: 220px;
  display: flex;
  align-items: center;
}

.header__user-ticket::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  height: 50px;
  width: 20px;
  background: radial-gradient(circle, transparent 50%, var(--color-danger, #FF3C13) 50%) -10px 0 / 20px 10px repeat-y;
}

.header__username {
  margin-right: 10px;
  font-size: 14px;
  color: var(--color-light);
}

.header__user-avatar img,
.header__menu-toggle img {
  margin: 0px 10px;
}
/* header */

/* Menu */
.menu {
  height: 100%;
  box-sizing: content-box;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu>ul {
  margin-left: 80px;
  display: flex;
}

.menu ul li {
  position: relative;
}

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
}

.menu ul ul ul {
  left: 100%;
  top: 0;
}

.menu ul li:hover>ul {
  display: block;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: var(--color-light);
  text-decoration: none;
}

.menu ul ul a {
  background-color: var(--color-info);
}

.menu ul ul ul a {
  background-color: var(--color-info);
}

.menu a:hover {
  background-color: var(--color-info);
}

.nav__right--icon {
  align-items: center;
}

.nav__right--icon>div {
  margin: 0 10px;
}

.nav--numberPhone>span {
  margin-right: 68px;
  margin-left: 5px;
}

.nav--numberPhone>div {
  margin-left: 15px;
}

/* Menu */
/* Footer styles */
.footer {
  color: var(--color-light);
}

.footer__widgets {
  background-color: var(--color-info);
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

.footer__brand {
  max-width: 300px;
}

.footer__slogan ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer__member-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__divider hr{
  margin: 20px 0;
  max-width: 80px;
  background-color: white;
  border: 1px solid white;
}

.footer__qr-list {
  display: flex;
  gap: 10px;
}

.footer__qr-item img {
  width: 60px;
  height: 60px;
}

.footer__menu {
  list-style: none;
  padding: 0;
}

.footer__menu-title {
  margin-bottom: 20px;
}

.footer__menu-item {
  margin-bottom: 10px;
}

.footer__menu-item a {
  color: var(--color-light);
  text-decoration: none;
}

.footer__menu-item a:hover {
  text-decoration: underline;
}

.footer__contact {
  max-width: 300px;
}

.footer__phone {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.footer__hotline {
  margin-bottom: 20px;
}

.footer__company {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.5;
}

.footer__subscribe {
  margin-top: 20px;
  display: flex;
}

.footer__subscribe-input {
  padding: 8px;
  border: 1px solid var(--color-light);
  flex-grow: 1;
    border-radius: 10px 0px 0px 10px;
    color: var(--color-primary);
}

.footer__subscribe-button {
  padding: 8px 16px;
  color: var(--color-light);
  border: none;
  cursor: pointer;
    background: linear-gradient(112.85deg,var(--color-info) 34.44%,var(--color-danger) 95.15%);
    border-radius: 0px 10px 10px 0px;
}

.footer__copyright {
  background-color: var(--color-primary);
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}
.footer__copyright a{
  text-decoration: none;
  color: var(--color-light);
  gap: 10px;
}
.footer__copyright-legal,.footer__copyright-links{

  display: flex;
      gap: 15px;
}

/* Rectangle 66 */
.b{
  font-weight: bolder;
}
.uppercase-text {
  text-transform: uppercase;
}
.location-span {
  font-size: larger;
  margin-left: 10px;
}
.journey-box--submit{
  background: #FF3C13;
  border-radius: 10px;
  padding: 0px 20px;
  color: var(--color-light);
  border: none;
}
.journey-form-location{
  position: relative;
}
.journey-form-location .icon-togle{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
    left: 50%;
}.banner .form {
  gap: 10px;
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__flight-types {
  display: flex;
  background-color: var(--color-light);
  width: fit-content;
  border-radius: 7px;
  height: fit-content;
  border: 3px solid var(--color-info);
}

.form__flight-types input {
  display: none;
}

.form__flight-types .form__label {
  cursor: pointer;
  padding: 5px 20px;
  color: var(--color-info);
}

.form__flight-types input:checked+.form__label {
  background-color: var(--color-info);
  color: var(--color-light);
  border-radius: 7px;
  padding: 5px 10px;
}

.journey-form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.form .form__right .form__flight-info select,
.journey-box {
  border: 2px solid var(--color-info);
  color: var(--color-info);
  padding: 7px 15px;
  border-radius: 7px;
  outline: none;
  background-color: white;
}

.btm {
  margin: 15px 0px;
}

.journey-box--destination,
.journey-box--departure {
  min-width: 200px;
}

.journey-box label img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.journey-box--date {}

.journey-box--customer {
  white-space: nowrap;
}

.journey-box--date input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.journey-box--date input[type="date"] {
  outline: none;
}

.journey-date--departure input,
.journey-date--return input {
  border: 0px;
  color: var(--color-info);
}
