* {
  box-sizing: border-box;
}

.padding-15 {
  padding-right: 20px;
  padding-left: 20px;
}

.logo-flight {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
}
.flight-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

.flight-table td:nth-child(9) {
  width: 30px;
}

.flight-table td:not(td:first-child),
th:not(th:first-child),
td:not(td:last-child, th:not(th:last-child)) {
  padding: 15px 13px;
}
.flight-table td {
  font-size: 12px;
  font-weight: 700;
  text-align: start;
}
.flight-table tbody tr:nth-child(2n) {
  background-color: #eee;
}

.flight-table th:first-child {
  padding: 0 15px;
}

.Enable {
  color: rgba(0, 199, 129, 1);
}
.flight-table th {
  font-size: 10px;
  font-weight: 700;
  color: var(--color-primary);
  text-align: start;
}
.flight-table > thead > tr {
  border-bottom: 1px solid rgba(210, 210, 214, 1);
}

.date-flight-info > div,
.kenhban > div {
  font-size: 10px;
}
.semorEnd {
  margin-top: 40rem;
}
.kenhban {
  width: 140px;
}
/*  */
.menu-flight {
  padding: 3rem 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.flight-right {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 1rem 0;
  border-radius: 10px;
}

.flight-left {
  width: 24%;
}
.flight-right {
  width: 74%;
}
/*  */

.flight-right-heading {
  align-items: center;
}
.flight-right-heading > div > div {
  font-size: 20px;
  font-weight: 600;
}
.flight-right-heading > div > p {
  font-size: 14px;
  margin-top: 5px;
}
.flight-right-heading > button {
  border: none;
  outline: none;
  padding: 4px 25px;
  border-radius: 5px;
}
/*  */
.flight-right-info {
  margin-top: 25px;
  gap: 9.6rem;
  margin-bottom: 1.3rem;
}
.flight-right-info span {
  font-size: 12px;
  text-align: start;
}

.flight-right-chuyen > div:first-child button {
  padding: 15px 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--color-muted);
}
.flight-right-chuyen > div:first-child {
  gap: 3rem;
  border-top: 1px solid rgba(210, 210, 214, 1);
  border-bottom: 1px solid rgba(210, 210, 214, 1);
}
.active-right-chuyen {
  border-bottom: 2px solid var(--color-info) !important;
  color: var(--color-info) !important;
}

.flight-right-input-serach {
  gap: 1.5rem;
  margin: 2.4rem 0;
}
.flight-right-input-serach > input {
  width: 84%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(210, 210, 214, 1);
  outline: none;
}
.flight-right-input-serach > input::placeholder {
  color: rgba(210, 210, 214, 1);
  font-size: 12px;
}
.flight-right-input-serach > div {
  width: 16%;
  gap: 0.8rem;
}

.flight-right-input-serach > div > button {
  border: none;
  display: flex;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  align-items: center;
  outline: none;
  gap: 3px;
}
.flight-right-input-serach > div > button img {
  width: 15px;
  object-fit: cover;
  height: 11px;
}
/* =========================== */
.menu-flight > div:first-child,
.menu-section {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.menu-section {
  margin-top: 0.5rem;
}
.menu-section > ul li {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 14px;
  color: var(--color-primary);
  font-weight: 600;
}
.menu-section > ul li:not(li:last-child) {
  margin: 1rem 0;
}
.menu-section > div img {
  cursor: pointer;
}
.list-none-style {
  list-style: none;
}

.list-none-style.hidden {
  max-height: 0;
  opacity: 0;
}

/*  */

/* Nút cuộn lên */
.scroll-to-top {
  position: fixed;
  bottom: 27rem;
  right: 20px;
  display: none; /* Ẩn nút khi trang mới tải */
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

.scroll-to-top.show {
  display: block; /* Hiển thị nút */
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top.hidden {
  opacity: 0;
  transform: translateY(20px);
}
