.banner img {
  width: 100%;
}

.best-price-flights ul {
  gap: 15px;
}

.best-price-flights .card {
  border-radius: 10px;
  height: 420px;
}

.img-top {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0px 0px;
}

.card-full {
  border-radius: 10px;
  height: 420px;
}

.img-full {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 420px;
  border-radius: 10px;
}

.relative {
  position: relative;
}

.box-shadow {
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.15);
}

.card {
  width: 300px;
  height: 420px;
  position: relative;
}

.card__discount {
  position: absolute;
  top: 20px;
  right: 22px;
  background-color: #ff5722;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 10px;
}

.card .card__info {
  position: absolute;
  bottom: 12px;
  left: 20px;
  color: #fff;
}

.card .card__info .card__title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card__info .card__countdown {
  font-size: 12px;
}

.card .logo-vietnamairlines {
  position: absolute;
  top: 150px;
  right: 20px;
}

.card .reviews {
  align-items: center;
}

.card .card__footer {
  margin: 20px;
}

.card__route {
  font-size: 14px;
  font-weight: bolder;
}

.card__ticket-view {
  font-size: 10px;
  text-align: right;
  margin-left: 20px;
}

.card__ticket-type,
.card__region {
  font-weight: bolder;
  font-size: 12px;
}

.card__star,
.card-full__star {
  line-height: 0px;
}

.card__text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-size: 12px;
}

.card__action,
.card-full__action {
  align-items: center;
}

.card__detail-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.card__price-wrapper {
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  text-align: end;
  line-height: 1;
}

.card__price {
  font-size: 16px;
  font-weight: bolder;
}

.card__price-original {
  font-size: 12px;
}

.card-full__content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 20px;
}

.card-full__content-right {
  position: absolute;
  bottom: 0px;
  right: 40px;
  text-align: end;
}

.card-full__content-left {
  width: 720px;
  line-height: 3;
}

.card-full__price {
  font-weight: bolder;
  font-size: 24px;
}

.card-full__price-original {
  font-size: 16px;
  opacity: 0.8;
}

/* <+========================================+> */
.news__column-1,
.news__column-2,
.news__column-3 {
  height: 936px;
  width: 33%;
  gap: 10px;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.news__column-2,
.news__column-3 {
  padding: 20px;
  box-sizing: border-box;
}

.news__column-2 .heading span,
.news__column-3 .heading span {
  font-size: 12px;
}

.news__column-2,
.news__column-3 {
  padding: 20px;
  box-sizing: border-box;
}

.news__column-1::-webkit-scrollbar,
.news__column-2::-webkit-scrollbar,
.news__column-3::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.news__column-1 .news__heading {
  background-color: white;
  line-height: 70px;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.news__column-1 .news__heading span {
  width: 50%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.news-section .news__column-1 {
  box-sizing: border-box;
  background-color: #e4f9f9;
}

.news-section .news__column-1 .content {
  padding: 20px;
}

.news__column-1 .flight-info__code {
  margin-left: 20px;
  font-weight: bolder;
}

.news__column-1 .news-item__desc,
.news__column-1 .news-item__date {
  line-height: 2;
  font-size: 14px;
  margin: 10px 0px;
}

.news__column-1 .news-item__footer {
  align-items: center;
}

.news__column-1 .news-item hr {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.news__column-1 .news-item__footer .price {
  line-height: 2;
  font-size: 16px;
  font-weight: 600;
}

.news__column-1 .news-item__price {
  line-height: 2;
  font-size: 12px;
  font-weight: 600;
}

.btn-new-application.active,
.btn-cheap-price.active {
  background-color: #e4f9f9;
}

.news__column-2 .banner,
.news__column-3 .banner {
  margin: 20px 0px;
}

.news__column-2 .banner img,
.news__column-3 .banner img {
  border-radius: 10px;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.news__column-2 .card-infor,
.news__column-3 .card-infor {
  position: absolute;
  bottom: 10px;
  color: white;
  margin: 0px 25px;
  font-weight: bolder;
}

.card-infor > p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.news__column-2 .card-infor .card-description,
.news__column-3 .card-description {
  font-size: 16px;
}

.news__column-2 .card-infor .card-date,
.news__column-3 .card-date {
  font-size: 12px;
}

.news__column-2 .card_item,
.news__column-3 .card_item {
  padding: 20px;
  border-radius: 10px;
}

.news__column-2 .card_item .card_item-header,
.news__column-3 .card_item .card_item-header {
  border-radius: 10px;
  gap: 20px;
}

.news__column-2 .card_item .card_item_left,
.news__column-3 .card_item .card_item_left {
  align-items: center;
  text-align: center;
  width: 40%;
}

.news__column-2 .card_item .card_item_right,
.news__column-3 .card_item .card_item_right {
  width: 70%;
}

.news__column-2 .card_item_left > img,
.news__column-3 .card_item_left > img {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.news__column-2 .card_item_left > p {
  text-align: start;
}

.news__column-2 .card_item_right img,
.news__column-3 .card_item_right img {
  margin-right: 5px;
}

.news__column-2 .card_item_right span {
  font-size: 12px;
}

.news__column-2 .card_item .card_item-footer .label {
  font-size: 12px;
}

.news__column-2 .card_item .card_item-footer img {
  margin-right: 5px;
}

.news__column-2 .card_item .card_item-footer button,
.news__column-3 .card_item .card_item-footer button {
  color: white;
  margin-top: 15px;
}

.news__column-3 .card_item .card_item_right p {
  line-height: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.news__column-3 .card_item .card_item_left p {
  padding: 3px 20px;
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
}

.news__column-3 .card_item .card_item_left .date {
  font-size: 12px;
  font-weight: bolder;
}

.ticket_card-event .d-flex {
  flex-wrap: wrap;
}

.ticket_card-event .d-flex .card_item {
  width: 24%;
  height: 480px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ticket_card-event .d-flex .card_item .image > img {
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
}

.ticket_card-event .d-flex .card_item .card_full-content {
  padding: 10px 30px;
}

.ticket_card-event .d-flex .card_item .card_full-content .card-infor span {
  opacity: 0.5;
  font-size: 12px;
}

.ticket_card-event .d-flex .card_item h6 {
  line-height: 1.7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-primary);
  margin: 5px 0px;
}

.ticket_card-event .d-flex .card_item .category {
  width: fit-content;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 12px;
}

.ticket_card-event .card_item .card__info {
  position: absolute;
  bottom: 12px;
  left: 20px;
  color: #fff;
  font-size: 12px;
}

.booking-section {
  padding: 40px 100px;
  background: linear-gradient(180deg, #01b5b6 0%, #004d4a 69.27%, #ff3c13 100%);
  border-radius: 10px;
  color: white;
  text-align: center;
}

.booking-section .booking-link button {
  background-color: white;
  color: var(--color-primary);
  line-height: 1px;
  padding: 20px 50px;
  border-radius: 20px;
  cursor: pointer;
}

.booking-section .booking-info {
  align-items: start;
  line-height: 30px;
}

.agent-list-section .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.agent-list-section .agent-list-content-wrapper {
  position: relative;
  overflow: hidden;
}

.agent-list-section .agent-list-content {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.agent-list-section .card_item {
  flex: 0 0 calc(100% / 7 - 20px);
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
}

.agent-list-section .card_item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 2px 11px 13px rgba(0, 0, 0, 0.19);
  object-fit: cover;
  object-position: center;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}

.steps-container {
  display: flex;
  margin: 40px 80px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.step {
  position: relative;
  flex: 1;
  text-align: left;
  color: #4a4a4a;
  padding: 20px;
}
.step-title-div {
  height: auto;
  margin-bottom: 50px;
}

.step-number {
  font-size: 8rem;
  color: #ff3c134d;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 0%;
  align-items: l;
  z-index: 0;
}

.title {
  position: relative;
  top: 30px;
  left: 10px;
  z-index: 1;
  width: 170px;
}
.step-icon {
  font-size: 2rem;
  margin-left: 20px;
  color: #0a7c79;
  margin-bottom: 10px;
}

.step-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0a7c79;
  margin: 10px 0;
}

.step-description {
  font-size: 0.9rem;
  color: #0a7c79;
  max-width: 200px;
  line-height: 1.5;

  position: relative;
  z-index: 1;
}
